{% extends "base.html" %} {% block content %}
<!-- Main Start -->
<main>
  <head>
    <title>GymSync - F.A.Q.</title>
  </head>

  <section class="container my-4">
    <h1 class="text-center mb-4 section-heading border-bottom pb-2">F.A.Q.</h1>
    <div class="accordion" id="accordionExample">
      {% for faq in faqs %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne{{forloop.counter}}"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <!-- Passing the questions added from the admin panel-->
            {{faq.question}}
          </button>
        </h2>
        <div
          id="collapseOne{{forloop.counter}}"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <!-- Passing the answers added from the admin panel-->
            {{faq.answer}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- End -->
</main>
{% endblock %}
